<div> <%= link_to("<< back to dashboard", dashboard_path, :class => 'back-link') %> </div>

<div>
  <h1>
    phlux users
  </h1>
</div>

<% @users.each do |user| %>
  <p> <%= link_to(user.username, user_path(user), method: :get) %> </p>
<% end %>
