<div>

  <p>
    i want phlux to be where you go to feel connected.
  </p>

  <p>
    find out about shows, catch up with friends, make plans, meet for drinks first, split a car to get there.
  </p>

  <p>
    the idea for phlux was inspired, in part, by a group-text i'm in. we're just a bunch of pals who hang out and go to shows.
  </p>

  <p>
    i see phlux like that, but bigger, better, for everyone. the group-text of the philly music scene.
  </p>

  <h1> join <a href="/"> phlux </a> today. </h1>

  <p>
    i'll be working to make this app better all the time. i want it to be useful. fun and easy to use. and the best way to know how i'm doing is to hear from you: the community that uses it. if there are ways you think this app could be improved (visually, functionally, etc.) please
    <a href="mailto: allegra.anka@gmail.com">let me know!</a>
  </p>

</div>
