<div>
  <p>
    imagine your favorite group text with your favorite pals where you go to feel connected, find out about shows, make plans. this is that group text, but bigger, and better. phlux: your calendar + community group text for philly shows.
  </p>
</div>
