
<div>
  <p>
    your place for philly shows
  </p>
</div>

<nav>
  <ul class="index_buttons">
    <li> <div> <%= link_to("get started", new_user_path, method: :get) %> </div> </li>
    <li> <div> <%= link_to("log in", login_path, method: :get) %> </div> </li>
  </ul>
</nav>
