<div>
  <p>
    phlux: your calendar + community group text for philly shows.
  </p>
</div>

<div> <%= link_to("get started", new_user_path, method: :get) %> </div>

<div> <%= link_to("login", login_path, method: :get) %> </div>
